@import "../../../../styles.scss";

@media only screen and (max-width: 600px) {
  .mainContainer {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background: url("../../../../assets/track.jpg") no-repeat fixed;
    background-size: 100% 100%;    
    overflow: auto;
    margin: auto;
    .blendContainer {
      position: absolute;
      height: 225%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.65);
    }
    .title {
      position: relative;
      top: 5%;
      height: 20%;
      width: 100%;
      padding: 2%;
      color: rgb(255, 0, 0);
      text-align: center;
      font-weight: 700;
      font-size: 2.5rem;
    }
    .history {
      position: relative;
      width: 100%;
      height: 80%;
      text-align: center;
      line-height: 2rem;
      font-size: 1.5vh;
      font-weight: 200;
      color: rgb(255, 223, 223);
    }
  }
}
@media only screen and (min-width: 600px) {
  .mainContainer {
    height: 100%;
    width: 100%;
    background: url("../../../../assets/track.jpg") no-repeat fixed;
    background-size: cover;
    background-position-y: 50%;
    .title {
      position: relative;
      height: 20%;
      width: 100%;
      padding: 2%;
      color: rgb(255, 0, 0);
      text-align: center;
      font-weight: 700;
      font-size: 3rem;
      background: rgba(0, 0, 0, 0.55);
    }
    .history {
      width: 100%;
      height: 80%;
      text-align: center;
      line-height: 5vh;
      font-size: 5vh;
      font-weight: 200;
      background: rgba(0, 0, 0, 0.55);
      color: rgb(253, 191, 191);
    }
  }
}
