<div class="mainContainer">
  <div class="blendContainer"></div>
  <div class="title">
    OUR HISTORY
  </div>
  <!-- <div class="history">
    Gearmax Parts & Service Division, formerly known as Borg Warner, was opened in the early nineteen sixties. With the first
    branch opened in Port Elizabeth, and thereafter Johnnesburg, over the past 45 years, Gearmax has expanded to the current
    network of 6 branches, 2 dealers and 2 distributors throughout South Africa. Our network spans from Pretoria in the north to Cape Town
    in the south with many points between. Gearmax was aquired by BTR in 1987. The name changed to Gearmax in
    2000 when Dana Corporation (USA) purchased our parent company, Spicer Axle in Australia which manufactures transmissions
    and axles for Ford Australia, Holden and other international OEM's Gearmax  is a division of Spicer Axle South
    Africa, manufacturing 90% of all light commercial vehicle rear axles in South Africa. Gearmax provides a
    differential remanufacturing service, which is officially approved by the major SA OEM's ie. GMSA, Toyota SA, FMC, Nissan
    SA and DCSA. No similar company in SA carries this official seal of approval. Gearmax is the number one axle
    specialist in the motor industry
  </div> -->
  <div class="history">
    Gearmax&reg; has been part of the South African automotive aftermarket for more than 50 years, and was founded by Borg Warner
    SA(Pty) Ltd in 1966. In 2013 Gearmax&reg; acquired the workshops from Dana Holdings, opening up the first Branch, which
    lead to 13 South African Entities. Gearmax&reg;'s primary source of products is procured from Spicer Axle South Africa,
    as well as various other suplliers specialising in importation of transmission and differential parts.
  </div>
</div>