<div class="mainContainer" id="modalBackground">
  <div class="secondaryContainer">
    <div class="mainImage">
      <!-- <img src="../../../../../assets/Gearmax.png" alt="Gearmax Front"> -->
      <img id="photo" [src]="officeImage" alt="Gearmax Front">
    </div>
    <div class="closeButton">
      <button (click)="close()">&times;</button>
    </div>
    <div class="details">
      <span id="name">{{officeName}}&nbsp;</span>
      <span id="type">-&nbsp;{{officeType}}</span>
      <div id="address">{{officeAddress}}&nbsp;
        <!-- <div> -->
          <a [href]="map" target="_blank" class="map"> --Map</a>
        <!-- </div>  -->
      </div>
      <span id="contactPerson">{{contactPerson}}&nbsp;</span>
      <span id="email">-&nbsp;<a [href]="'mailto:'+email" target="_top" class="map">{{email}}</a></span>
      <div id="number">{{officeNumber}}</div>
    </div>
  </div>
</div>