@import "../../../../../styles.scss";

@media only screen and (max-width: 600px) {
  .mainContainer {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;

    .secondaryContainer {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 70%;
      width: 100%;
      background: rgb(200, 200, 200);

      .closeButton {
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        height: 10%;
        width: 15%;
        button {
          font-size: 2.5rem;
          height: 100%;
          width: 100%;
        }
      }

      .mainImage {
        width: 100%;
        height: 60%;

        #photo {
          position: absolute;
          margin: auto;
          width: 100%;
          height: 100%;
        }
      }

      .details {
        position: relative;
        color: $color-primary-1;
        background: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 40%;
        #name {
          font-size: 2rem;
          font-weight: bolder;
        }

        #type {
          font-size: 1.25rem;
          font-weight: bold;
        }

        #address {
          font-size: 1em;
          .map {
            color: $color-primary-1;
            text-decoration: none;
          }
        }

        #number {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .mainContainer {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;

    .secondaryContainer {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 80%;
      width: 60%;
      background: rgb(200, 200, 200);

      .closeButton {
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
      }

      .mainImage {
        width: 100%;
        height: 60%;

        #photo {
          position: absolute;
          margin: auto;
          width: 100%;
          height: 100%;
        }
      }

      .details {
        position: relative;
        // margin: 2.5%;
        color: $color-primary-1;
        background: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 40%;
        padding: 1%;
        a{
          color: $color-primary-1;
          // text-decoration: none;
          // background-color: $color-primary-3;
          // height: 200%;
        }
        #name {
          font-size: 7.5vh;
          font-weight: bolder;
        }

        #type {
          font-size: 5vh;
          font-weight: bold;
        }

        #address {
          font-size: 4vh;
          // width: 100%;
          // height: 100%;          
        }
        #contactPerson{
          font-size: 4vh;
        }
        #email{
          font-size: 4vh;
        }
        #number {
          font-size: 4vh;
        }
      }
    }
  }
}
