@import "../../../../../styles.scss";

@media only screen and (max-width: 600px) {
  .mainContainer {
    overflow: hidden;
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    background: rgb(75, 75, 75);
    .mapContainer {
      position: absolute;
      z-index: 0;
      top: 20%;
      right: 0%;
      height: 80%;
      width: 100%;
      img {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
      }
    }

    .gearmaxLogo {
      position: absolute;
      z-index: 0;
      top: 0%;
      left: 0%;
      height: 20%;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    
    .keyContainer {
      display: none;
      position: absolute;
      top: 30%;
      left: 4%;
      height: 45%;
      width: 40%;
    }
    
    .infoLinks {
      // display: none;      
      position: absolute;
      display: flex;
      top: 22.5%;
      left: 2.5%;
      height: 10%;
      width: 60%;
      .link {
        // display: none;      
        background: rgb(162, 9, 0);
        border-radius: 20px;
        text-align: center;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
        width: 50%;
        margin: 2.5%;
        font-size: 1.5vw;
        height: 100%;
        width: 100%;
        span {
          position: relative;
          top: 30%;
          bottom: 50%;
          font-size: 1rem;
        }
      }

      .link:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .mainContainer {
    overflow: hidden;
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    background: linear-gradient(310deg, rgb(75, 75, 75) 55%, white 50%);
    .mapContainer {
      position: absolute;
      z-index: 0;
      top: 0%;
      right: 0%;
      height: 100%;
      width: 55%;
      img {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
      }
    }

    .gearmaxLogo {
      position: absolute;
      z-index: 0;
      top: 5%;
      left: 2.5%;
      height: 20%;
      width: 40%;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .keyContainer {
      position: absolute;
      top: 30%;
      left: 4%;
      height: 45%;
      width: 40%;
    }

    .infoLinks {
      position: absolute;
      display: flex;
      bottom: 10%;
      left: 7.5%;
      height: 15%;
      width: 35%;
      .link {
        background: rgb(162, 9, 0);
        border-radius: 20px;
        text-align: center;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
        width: 50%;
        margin: 2.5%;
        font-size: 1.5vw;
        height: 100%;
        width: 100%;
        span {
          position: relative;
          top: 30%;
          bottom: 50%;
          font-size: 2rem;
        }
      }

      .link:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
        cursor: pointer;
      }
    }
  }
}
