<div class="mainContainer">
  <div class="mapContainer">
    <img src="../../../../../assets/SAMap.png" alt="Gearmax Branches">
    <canvas #mapCanvas></canvas>
  </div>
  <div class="gearmaxLogo">
    <img src="../../../../../assets/gearmaxLogo.png" alt="Gearmax Logo">
  </div>
  <div class="keyContainer">
    <canvas #keyCanvas></canvas>
  </div>
  <div class="infoLinks">
    <div class="link" (click)="navigate('about')">
      <span> About Us</span>
    </div>
    <div class="link" (click)="navigate('products')">
      <span>Our Products</span>
    </div>
  </div>
</div>
<template #officeContainer></template>