@media only screen and (max-width: 600px) {
  .mainContainer {    
    height: 100%;
    width: 100%;
    position: relative;    
    left: 0;
    right: 0;
    background:  url("../../../../assets/motor2.jpg") no-repeat fixed;
    background-size: 150% 100%;
    background-position: 50%;
    margin: auto;    
    overflow: auto;
    .blendContainer {
      position: absolute;
      height: 150%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.65);
    }
    .certified {
    //   display: none;
      position: absolute;
      z-index: 2;
      height: 10%;
      width: 15%;
      top: 0;
      right: 0;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .info {
      height: 100%;
      .grid {        
        position: absolute;
        width: 100%;
        height: 70%;
        left: 0;
        right: 0;
        top: 10%;
        margin: auto;
        .grid1 {
          #title {
            width: 100%;
            text-align: center;
          }
          border-radius: 10px;
          text-align: left;
          font-size: 2rem;
          font-weight: 600;
          margin: 1%;
        //   width: 33%;
          color: rgb(255, 223, 223);
          li {
            // display: none;
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 600px) {
  .mainContainer {
    // position: absolute;
    height: 100%;
    width: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background: white url("../../../../assets/motor2.jpg") no-repeat fixed;
    background-size: cover;
    background-position-y: 50%;
    margin: auto;
    overflow: hidden;
    .blendContainer {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.65);
    }
    .certified {
      position: absolute;
      z-index: 2;
      height: 15%;
      width: 10%;
      top: 0;
      right: 0;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .info {
      .title {
        padding: 2%;
        text-align: center;
        position: absolute;
        height: 20%;
        width: 100%;
        margin: auto;
        right: 0%;
        left: 0%;
        // top: 5%;
        font-size: 3rem;
        font-weight: 900;
        color: red;
      }
      .grid {
        position: absolute;
        width: 100%;
        height: 70%;
        left: 0;
        right: 0;
        top: 10%;
        margin: auto;
        display: flex;
        .grid1 {
          #title {
            width: 100%;
            text-align: center;
          }
          border-radius: 10px;
          text-align: left;
          font-size: 2rem;
          font-weight: 600;
          margin: 1%;
          width: 33%;
          color: rgb(255, 223, 223);
          li {
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
      }
    }
    .gearsContainer {
      position: absolute;
      bottom: 5%;
      left: 0;
      right: 0;
      margin: auto;
      height: 70%;
      width: 95%;
      background: white;
    }
  }
}
