<div class="mainContainer">
  <div class="blendContainer"></div>
  <div class="info">
    <!-- <div class="title">
      WE SPECIALIZE IN!
    </div> -->
    <div class="certified"><img src="../../../../assets/certified.png" alt=""></div>
    <div class="grid">      
      <div class="grid1">
        <div id="title">Maintenance</div>
        <ul>
          <li>Axles & Differentials</li>
          <li>Auto Transmissions</li>
          <li>Manual Transmissions</li>
          <li>Clutches</li>
          <li>Propshafts</li>
          <li>Suspension</li>
          <li>Brakes</li>
        </ul>
      </div>
      <div class="grid1">
          <div id="title">Parts Sales</div>
        <ul>
          <li>Auto Transmissions</li>
          <li>Manual Transmissions</li>
          <li>Propshafts</li>
          <li>Differentials(O-E-M)</li>
        </ul>
      </div>
      <div class="grid1">
          <div id="title">Repairs</div>
        <ul>
          <li>All drivetrain Related Repairs and rebuilds</li>
        </ul>
      </div>
    </div>
  </div>  
</div>