@import "../../../../styles.scss";

@media only screen and (max-width: 600px) {
  .mainContainer {
    position: absolute;
    height: 100%;
    width: 100%;

    .navbar {
      width: 100%;
      height: 12.5%;
      background-color: gray;
      display: flex;
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
      .logo {
        // display: none;
        #phone {
          display: initial;          
          width: 100%;
          height: 100%;
        }
        #desktop {
          display: none;
        }
        width: 25%;
        height: 100%;
        cursor: pointer;
      }
      
      .links {
        display: flex;        
        width: 100%;
        
        .link {
          height: 100%;
          width: 100%;
          background-color: rgb(211, 211, 211);
          margin: auto;
          text-align: center;
          padding: 10% 0%;
          font-size: 0.75rem;          
        }

        .link:hover {
          cursor: pointer;
          background-color: $color-primary-0;
          box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
          transition: 0.5s;
        }
      }
    }
    .secondaryContainer {
      // display: none;
      position: relative;
      top: 2.5%;
      width: 95%;
      height: 75%;
      left: 0;
      right: 0;
      box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
      margin: auto;      
    }
    .footer {
      // display: none;
      position: absolute;
      height: 7%;
      width: 100%;
      bottom: 0;
    }
  }
}

@media only screen and (min-width: 600px) {
  .mainContainer {
    position: absolute;
    height: 100%;
    width: 100%;

    .navbar {
      width: 100%;
      height: 10%;
      background-color: gray;
      display: flex;
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);

      .logo {
        #phone {
          display: none;
        }
        #desktop {
          display: block;
        }
        width: 20%;
        height: 100%;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .links {
        display: flex;
        width: 50%;

        .link {
          background-color: lightgray;
          margin: auto;
          padding: 2.5% 5%;
          border-radius: 10px;
        }

        .link:hover {
          cursor: pointer;
          background-color: $color-primary-0;
          box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
          transition: 0.5s;
        }
      }
    }
    .secondaryContainer {
      position: relative;
      top: 5%;
      width: 80%;
      height: 75%;
      left: 0;
      right: 0;
      box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
      margin: auto;
      overflow: hidden;
    }
    .footer {
      position: absolute;
      height: 7%;
      width: 100%;
      bottom: 0;
    }
  }
}
