<div class="mainContainer">
  <div class="navbar">
    <div class="logo" (click)="navigate('home')">
      <img id="desktop" src="../../../../assets/gearmaxLogo.png" alt="Gearmax Logo">
      <img id="phone" src="../../../../assets/gearmaxG.png" alt="Gearmax Logo">
    </div>
    <div class="links">
      <div class="link" (click)="navigate('home')">HOME</div>
      <div class="link" (click)="navigate('about')">ABOUT</div>
      <div class="link" (click)="navigate('products')">PRODUCTS</div>
      <div class="link" (click)="navigate('network')">NETWORK</div>
    </div>
  </div>
  <div class="secondaryContainer">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <span>Gearmax&reg;(PTY)ltd</span>
    <br>
    <span>To Open a branch/dealer/distributor contact henning@gearmax.co.za</span>
    <div style="float: right">WEBSITE DESIGNED AND DEVELOPED BY IAN TOLMAY</div>
  </div>
</div>