<div class="mainContainer">
  <div *ngFor="let office of offices">
    <div class="card">
      <div class="image">
        <img [src]="office.Image" alt="">
      </div>
      <div class="description">
        <div id="title">{{office.OfficeName}} - {{office.OfficeType}}</div>
        <div id="adress">{{office.Address}}</div>
        <div id="email">{{office.ContactPerson}} - {{office.Email}}</div>
        <div id="number">{{office.Number}}</div>
      </div>
    </div>
  </div>
</div>