@media only screen and (max-width: 600px) {
  .mainContainer {
    height: 100%;
    width: 100%;
    overflow: auto;
    .card {
      width: 100%;
      height: 50%;
      margin: 1%;
    //   float: left;
      background-color: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      // color: rgb(253, 191, 191);
      color: black;
      .image {
        height: 50%;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .description {
        #title {
          text-align: center;
          font-weight: 600;
        }
        #address {
        }
        #email {
        }
        #number {
        }
      }
    }
  }
}
@media only screen and (min-width: 600px) {
  .mainContainer {
    height: 100%;
    width: 100%;
    overflow: auto;
    .card {
      width: 25%;
      height: 50%;
      margin: 1%;
      float: left;
      background-color: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      // color: rgb(253, 191, 191);
      color: black;
      .image {
        height: 50%;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .description {
        #title {
          text-align: center;
          font-weight: 600;
        }
        #address {
        }
        #email {
        }
        #number {
        }
      }
    }
  }
}
