$color-primary-0: #ED1C26;	// Main Primary color */
$color-primary-1: #FEBEC1;
$color-primary-2: #FC6970;
$color-primary-3: rgb(145, 1, 8);
$color-primary-4: rgb(255, 16, 28);
$color-primary-5: #4D0004;
/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    // background: #E1DCDC;
    background: $color-primary-3;
}
